.div1 {
    width: 190px;
    margin-block: 7px;
    height: 126px;
    border: 1px solid red;
    background-color: lightblue;
  }
  
  .div2 {
    width: 389px;
    height: 132px;
    /* margin: 30px; */
    margin-block: 283px;
    /* margin: 105px; */
    /* padding: 10px; */
    background-color: lightblue;
    border: 1px solid red;

  }
  .div3 {
    width: 190px;
    margin-block: 7px;
    height: 126px;
    border: 1px solid red;
    background-color: lightblue;

  }
  .box-2{
    display: flex;
    background-color: yellow;
    width: 600px;
    height: 600px;
  }
  .box-1{
    display: flex;
    width: 600px;
    height: 600px;
    margin-right: 247px;
    float: right;
    background-color: yellow;
    margin-block: -604px;
    
      
     
  }
  .div11{
    background-color: lightblue;
    width: 218px;
    padding: 70px;
    margin: 0px;
    margin-block: 21px;
    height: 332px;
    border: 1px solid red;
  }
  .div22{
    background-color: lightblue;
    width: 218px;
    padding: 70px;
    margin: 0px;
    margin-block: 21px;
    height: 332px;
    border: 1px solid red;
  }
  .box-3{
      display: flex;
      float: right;
      background-color: yellow;
      width: 600px;
      height: 600px;
  }
  .div4{
    width: 198px;
    margin-block: 7px;
    height: 126px;
    border: 1px solid red;
    background-color: lightblue;
  }

  .div5{
    width: 198px;
    margin-block: 268px;
    margin-left: 200px;
    height: 126px;
    border: 1px solid red;
    background-color: lightblue;
    float: right;
  }
  .img-left img{
    display: flex;
    width: 139px;
    height: 116px;
    padding: 12px;
  }
  